// Login prompt image
#image_ask_to_login {
  position: fixed;
  top: 50%;
  right: -7.4rem;
  z-index: 100;
  cursor: pointer;
  animation: slideleft 2s forwards;

  @keyframes slideleft {
    from {
      transform: translateX(100%) translateY(-50%) rotate(-90deg);
    }

    to {
      transform: translateX(0) translateY(-50%) rotate(-90deg);
    }
  }
}
