$post_height: 200px;
$margin: 1.2rem;
$post_background: rgba(29, 150, 172, 0.56);

// Posts container on the left
.posts {
  z-index: 10;
  // post
  .post {
    border-radius: 0.2rem;
    height: max-content;
    margin-top: $margin;
    background: $post_background;

    display: flex;
    flex-direction: column;

    .post_main_body {
      display: flex;
      max-height: $post_height;
      margin: 1rem;

      @media (max-width: 350px) {
        flex-direction: column;
        align-items: center;
        max-height: none;
      }

      // Post text
      & > a > p {
        word-break: break-all;
        padding: 1rem;
      }

      // Post image
      .image_container {
        overflow: hidden;

        border-radius: 0.2rem;
        height: 100%;
        width: 200px;

        // main post image
        & > img {
          background: pink;
          height: 100%;
          width: 100%;
          object-fit: cover;

          transition-duration: 0.5s;

          &:hover {
            transform: scale(1.5);
            transition-duration: 0.5s;
          }
        }
      }
    }
  }
}

// 'Loading...' message at the bottom
.loading_message {
  text-align: center;
  padding: 1rem;
  font-family: "Alegreya SC", serif, Arial, sans-serif;
}

// Hidden message at the end
.end_message {
  visibility: hidden;
}

// Like buttons
#red_heart,
#blue_heart {
  border: none;
  &:hover {
    cursor: pointer;
  }
}
.inactive_like {
  scale: 1 !important;
}

#blue_heart {
  &:hover {
    scale: 1.08;
  }
}
