$post_height: 200px;
$margin: 1.2rem;
$post_background: #c0deddff;
$shadow: 5px 5px 5px grey;

// Posts container on the left
.posts {
  z-index: 10;
  // post
  .post {
    border-radius: 0.2rem;
    height: max-content;
    margin-top: $margin;
    background: $post_background;

    display: flex;
    flex-direction: column;

    .post_main_body {
      display: flex;
      max-height: $post_height;
      margin: 1rem;

      @media (max-width: 350px) {
        flex-direction: column;
        align-items: center;
        max-height: none;
      }

      // Post text
      & > a > p {
        word-break: break-all;
        padding: 1rem;
      }

      // Post image
      .image_container {
        overflow: hidden;

        border-radius: 0.2rem;
        height: 100%;
        width: 200px;

        // main post image
        & > img {
          background: pink;
          height: 100%;
          width: 100%;
          object-fit: cover;

          transition-duration: 0.5s;

          &:hover {
            transform: scale(1.5);
            transition-duration: 0.5s;
          }
        }
      }
    }
  }
}

// Like buttons
#red_heart,
#blue_heart {
  border: none;
  &:hover {
    cursor: pointer;
  }
}
.inactive_like {
  scale: 1 !important;
}

#blue_heart {
  &:hover {
    scale: 1.08;
  }
}

// 'Load more' at the end
.load_more {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
// 'Loading...' message at the bottom
.loading_message {
  padding: 1rem;
  font-family: "Alegreya SC", serif, Arial, sans-serif;
}

// Load more button
.load_more_button {
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background: #d2d7d9ff;

  &:active,
  &:focus {
    transition-duration: 0.5s;
    box-shadow: 1px 1px 1px grey;
  }
}

// Borders, shadows
.post,
.load_more_button {
  border: 2px solid black;
  box-shadow: $shadow;
}
