@import url(//fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Alegreya+SC&display=swap&family=Pompiere&display=swap:wght@700&display=swap);

$margin: 1.2rem;
$post_height: 8rem;
$comment_height: 10rem;
$new_comment_background: #fcdf0eff;
$post_background: #c0deddff;
$comment_background: #d9d9d9ff;
$shadow: 5px 5px 5px grey;

.container {
  display: flex;
  max-width: 1000px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;

  // Place user card on top
  @media (max-width: 800px) {
    flex-wrap: wrap-reverse;
    margin: 0;
  }
}

// Content on the left
.content {
  flex: 2 1 700px;
  min-width: 290px;
  margin-top: $margin;

  display: flex;
  flex-direction: column;

  @media (max-width: 320px) {
    margin-left: 0;
  }

  // Delete post button
  & > button {
    align-self: flex-end;
  }

  // Post itself
  .post {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.2rem;
    background: $post_background;

    .post_main_body {
      display: flex;
      // Main post image
      & > img {
        max-width: 200px;
        border-radius: 0.2rem;
      }

      // main text of the post
      & > p {
        padding: 1rem;
      }
    }
  }

  // Delete post button
  & > button {
    margin-right: 2rem;
  }
}

// Comment
.comment {
  margin-top: $margin;
  border-radius: 0.2rem;
  height: max-content;
  background: $comment_background;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0.5rem;

  // User info
  .comment_info {
    display: flex;

    & > button {
      align-self: flex-end;
    }
  }

  // User info link
  .comment_info > a {
    margin-top: auto;
    padding-top: 1rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    width: max-content;
    margin-left: auto;

    & > .user_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 3px;
      gap: 3px;

      // User image in comment
      & > img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
}

// New comment form
.new_comment_form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 0.2rem;
  background: $new_comment_background;
  padding: 0.75rem;
  margin-top: $margin;

  & > textarea {
    border-radius: 0.2rem;
  }

  & > button {
    font-size: 120%;
    align-self: flex-end;
  }
}

// Login or signup paragraph
.posts_header {
  margin-top: 1rem;
  text-align: center;
  font-family: "Baloo Chettan 2", cursive, Arial, sans-serif;
  color: #15489f;

  & > a {
    color: inherit;

    &:hover,
    &:active {
      text-decoration: underline;
      text-decoration-color: rgba(241, 89, 36, 1);
    }
  }
}

// Container overlay
.modal_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

  // Modal window itself
  & > .modal_window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #e82d38ff;
    border: 2px solid #81191fff;

    width: 600px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;

    @media (max-width: 640px) {
      width: 100vw;
    }

    z-index: 100;

    // Text
    & > p {
      word-break: keep-all;
      padding: 0.5rem;
      width: 100%;
      text-align: center;
      font-family: "Alegreya SC", serif, Arial, sans-serif;
    }

    // Buttons
    .button_container {
      display: flex;
      gap: 5rem;

      & > button {
        font-size: 130%;
      }
    }
  }
}

// 'Loading...' message at the bottom
.loading_message,
.end_message {
  text-align: center;
  padding: 1rem;
  font-family: "Alegreya SC", serif, Arial, sans-serif;
}

// Hidden message at the end
.end_message {
  visibility: hidden;
}

// Borders, shadow
.post,
.comment,
.new_comment_form {
  border: 2px solid black;
  box-shadow: $shadow;
}
