@import url(//fonts.googleapis.com/css2?family=Indie+Flower&family=Jacques+Francois&family=Fruktur&family=Oleo+Script+Swash+Caps&family=Alegreya+SC&display=swap&family=Pompiere&display=swap:wght@700&display=swap);
@use "sass:math";

$header_height: 100px;
$background: #cfe1c6ff;
$root_background: #edd3cdff;
$notifications_background: #48c2d9ff;
$shadow: 5px 5px 5px grey;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background: $background;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1000px;
  max-width: 90vw;
  margin-right: 2rem;
  margin-left: 2rem;
  background: $root_background;
  z-index: 30;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  box-shadow: $shadow;
  box-sizing: initial;
}

a {
  color: black;
  text-decoration: none;
}

button,
input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: max-content;
}

input[type="file"] {
  display: none;
}

button {
  font-family: "Oleo Script Swash Caps", cursive, Arial, sans-serif;
}

input {
  border: 1px solid black;
}

label {
  cursor: pointer;
}

img {
  border-radius: 0.2rem;
}

// header + main body
// needed to keep footer at the bottom
.content {
  flex-grow: 1;

  @media (max-width: 800px) {
    width: 100vw;
    margin-left: -5vw;
  }
}

@function random_element($elements...) {
  @return nth($elements, random(length($elements)));
}

p {
  word-break: break-all;
}

// HEADER
.header {
  min-height: $header_height;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    margin-top: 0.5rem;
  }

  & > ul > li > a {
    &:focus,
    &:hover {
      outline: none;
      text-decoration: underline;
      text-decoration-color: $notifications_background;
    }
  }

  & > li {
    max-width: 100vw;
  }

  // Search li
  & > :first-child {
    margin-left: auto;

    @media (max-width: 800px) {
      margin-left: 0;
    }
  }

  @media (max-width: 800px) {
    gap: 0;
    padding-top: 1rem;
  }

  // Search
  & > li > form {
    display: flex;
    position: relative;
    max-width: 300px;
    top: -1px;
    border-bottom: 2.7px solid black;

    @media (max-width: 800px) {
      margin-right: 1rem;
      margin-left: 1rem;
      margin-top: 0.2rem;
    }

    & > label {
      position: absolute;
      top: -1.2rem;
      font-family: "Pompiere", cursive, Arial, sans-serif;
    }

    input {
      border: none;
    }

    // Text input
    #query {
      width: 300px;
      height: 2rem;

      font-family: "Jacques Francois", serif;
      font-size: 120%;

      &:hover {
        cursor: text;
      }

      // For Firefox (red outline)
      &:required {
        box-shadow: none;
      }
      &:invalid {
        box-shadow: none;
      }
    }

    button {
      font-family: "Indie Flower", cursive, Arial, sans-serif;
      font-size: 150%;
      align-self: flex-end;
      transition-duration: 0.2s;
      position: relative;
      top: 8px;

      &:focus {
        outline: none;
        color: $notifications_background;
        transform: scale(1.08);
        transition-duration: 0.2s;
      }
    }

    @media (max-width: 370px) {
      max-width: 100vw;
      transition-duration: 0.2s;
    }

    @media (max-width: 360px) {
      margin-right: 2rem;
      margin-left: 2rem;
    }

    // Error (query too short) message
    & > p {
      position: absolute;
      top: 2rem;
      font-family: "Alegreya SC", serif, Arial, sans-serif;
      font-size: 90%;
      color: #ee276a;

      animation-duration: 0.5s;
      animation-name: slideinsearcherror;

      @keyframes slideinsearcherror {
        from {
          transform: translateY(-5px);
          opacity: 0;
        }

        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @keyframes slideupsearcherror {
        from {
          transform: translateY(0);
          opacity: 1;
        }

        to {
          transform: translateY(-5px);
          opacity: 0;
        }
      }
    }
  }

  // Everything except search
  #header_links_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;

    @media (max-width: 800px) {
      width: 100vw;
      margin-right: 0;
      gap: 0;
      justify-content: space-evenly;
      transition-duration: 0.2s;
    }

    // Li containing links in the header
    & > li {
      cursor: pointer;
      margin-top: 1rem;
      transition-duration: 0.2s;

      font-family: "Indie Flower", cursive, Arial, sans-serif;
      font-size: 150%;
    }

    & > :nth-child(3) {
      width: 48px;
    }
  }

  .active {
    text-decoration: underline;
  }
}

// Colorful stripe at the bottom of the header.
#header_bottom_border {
  background: linear-gradient(to right, transparent 10%, $background 90%);
  box-shadow: 5px 5px 5px grey;
  height: 10px;
  width: 50vw;
  position: relative;
  right: -50%;

  border: 0.5px solid black;
  border-left: none;
  border-right: none;

  animation: 1s ease-out 0s 1 appear;

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    bottom: -2rem;
    left: 0;
    z-index: 100;
    background: linear-gradient(
      to right,
      $root_background 10%,
      transparent 20%
    );
  }

  @keyframes appear {
    0% {
      //filter: opacity(0.3);
      box-shadow: 1px 1px 1px grey;
    }
    100% {
      //filter: opacity(1);
      box-shadow: 5px 5px 5px grey;
    }
  }
}

// Dropdown (notifications)
#with_dropdown {
  position: relative;
  animation: 1s ease-out 0s 1 opacityChange;

  // SVG inputs
  input {
    border: none;
  }

  // SVGs
  #search_icon {
    width: 38px;
    transition-duration: 0.2s;
    &:focus,
    &:hover {
      transform: scale(1.08);
      transition-duration: 0.2s;
    }
  }

  #notifications_bell {
    display: flex;
    justify-content: center;
    border: none;
    width: 35px;
    transition-duration: 0.2s;

    &:focus {
      transform: scale(1.08);
      transition-duration: 0.3s;
    }
  }

  .notifications_arrow {
    border: none;
    &:focus {
      outline: 1px dashed black;
    }
  }

  #prev_notifications {
    transform-origin: center;
    transform: rotate(180deg);
  }

  .inactive {
    cursor: default !important;
    filter: opacity(0.2);
  }

  #remove_notification {
    cursor: pointer;
  }

  // Notifications loading message
  #notifications_loading_msg {
    font-size: 70%;
    word-break: keep-all;
  }

  &:focus-within > #notifications_bell {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }

  // Total number of notifications
  #total_notifications {
    position: absolute;
    top: -0.5rem;
    right: 0;

    border-radius: 50%;
    text-align: center;
    word-break: keep-all;
    min-width: 20px;
    height: min-content;
    background: rgba(238, 39, 106, 1);

    font-size: 70%;

    animation: 1s ease-out 0s 1 opacityChange;
  }

  #notifications_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: initial;

    top: 4rem;
    font-size: 1rem;
    width: 20rem;
    max-width: 90vw;
    word-break: break-all;
    background: $notifications_background;
    z-index: 20;
    right: -10px;
    padding: 1.5rem;

    box-shadow: 0 0 0 15px rgba(255, 225, 39, 0.42);

    display: flex;
    align-items: center;

    a:hover {
      text-decoration: underline;
    }

    a:focus {
      outline: 1px dashed black;
    }

    & > li {
      cursor: initial;
      width: 100%;
      word-break: keep-all;
    }

    // Little triangle
    &::before {
      content: "";
      border-top: 15px solid $notifications_background;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;

      position: absolute;
      top: -13px;
      right: 26px;
      transform: rotate(180deg);
    }

    #mark_read_buttons_container {
      padding-top: 1rem;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;

      & > button {
        font-family: "Alegreya SC", serif, Arial, sans-serif;
      }
    }

    #navigation_container {
      padding-top: 1rem;
      display: flex;
      gap: 0.5rem;
      cursor: auto;
    }

    #close_notifications {
      align-self: flex-end;
      position: relative;
      left: 10px;
      top: 10px;
    }
  }

  // Remove notification button with image
  .remove_notification_button {
    position: relative;
    top: 2px;

    &:hover > img,
    &:focus > img {
      transform: scale(1.3);
      transition-duration: 0.3s;
    }

    img {
      border: none;
      transition-duration: 0.3s;
    }
  }

  // disabled 'mark all notifications read' button
  .disabled {
    color: white;

    & > button:disabled {
      text-decoration: none;
    }
  }
}

// Error message
.error_message {
  color: #e92d3aff;
  font-family: "Alegreya SC", serif, Arial, sans-serif;
  text-align: center;
  animation-duration: 0.5s;
  animation-name: slidein;
  z-index: 0;

  @keyframes slidein {
    from {
      transform: translateY(-15px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

#mark_all_read,
#close_notifications {
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px dashed black;
  }
}

// Up arrow (bottom right corner)
.up_arrow {
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
    transform: scale(1.2);
  }
}

// Placeholder
::placeholder,
span {
  color: gray;
  opacity: 1; /* Firefox */
}

// Error message
.with_error {
  padding: 1rem;

  display: flex;
  flex-direction: column;

  background: #e82d38ff;
  border: 2px solid black;

  position: fixed;
  z-index: 200;

  font-family: "Alegreya SC", serif, Arial, sans-serif;

  animation-duration: 0.5s;
  animation-name: slidedown;
  animation-fill-mode: forwards;

  & > button {
    align-self: center;
  }

  @keyframes slidedown {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideup {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}

// FOOTER
.footer {
  height: 6.5rem;
  margin-top: 1rem;
  position: relative;
  left: -1rem;
}

// Custom file upload lebels
.custom_file_upload,
button,
a {
  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

// Page not found
.page_not_found {
  text-align: center;
  font-family: "Baloo Chettan 2", cursive, Arial, sans-serif;

  p {
    margin-top: 15rem;
    font-size: 150%;
    color: #15489f;
  }

  a {
    position: relative;
    top: 3rem;
  }
}

// Animating sliding login prompt image to the right
@keyframes slideright {
  from {
    transform: translateX(0) translateY(-50%) rotate(-90deg);
  }

  to {
    transform: translateX(100%) translateY(-50%) rotate(-90deg);
  }
}

@keyframes opacityChange {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.9;
  }
}

// Rotate kitty on withLoader hoc
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

// Loading rotating kitty
#loading_kitty {
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 500;
  scale: 0.6;
  animation: rotate 2s infinite;
  background: transparent;
}
