@import url(//fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Alegreya+SC&display=swap&family=Pompiere&display=swap:wght@700&display=swap);

$header_height: 100px;
$background: #cfe1c6ff;
$root_background: #edd3cdff;
$notifications_background: #48c2d9ff;
$shadow: 5px 5px 5px grey;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background: $background;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1000px;
  max-width: 90vw;
  margin-right: 2rem;
  margin-left: 2rem;
  background: $root_background;
  z-index: 30;
  border: 2px solid black;
  box-shadow: $shadow;
  box-sizing: initial;
}

a {
  color: black;
  text-decoration: none;
}

button,
input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: max-content;
}

input[type="file"] {
  display: none;
}

button {
  font-family: "Oleo Script Swash Caps", cursive, Arial, sans-serif;
}

input {
  border: 1px solid black;
}

label {
  cursor: pointer;
}

li {
  cursor: pointer;
}

img {
  border-radius: 0.2rem;
}

// header + main body
// needed to keep footer at the bottom
.content {
  flex-grow: 1;

  @media (max-width: 800px) {
    width: 100vw;
    margin-left: -5vw;
  }
}

// Loading message
#loading_message {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.5);

  border: 15px solid rgba(255, 255, 255, 0.7);
  padding: 1rem;

  left: 50%;
  top: 30%;
  transform: translate(-50%);
  z-index: 100;

  font-family: "Oleo Script Swash Caps", cursive, Arial, sans-serif;
  font-size: 2rem;

  & > span {
    color: black;
  }
}

p {
  word-break: break-all;
}

// HEADER
.header {
  min-height: $header_height;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & > li {
    max-width: 100vw;
  }

  // Search li
  & > :first-child {
    margin-left: auto;

    @media (max-width: 800px) {
      margin-left: 0;
    }
  }

  @media (max-width: 800px) {
    gap: 0;
    padding-top: 1rem;
  }

  // Search
  & > li > form {
    display: flex;
    position: relative;
    top: 1.5px;
    border-bottom: 2.7px solid black;

    @media (max-width: 800px) {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    input {
      width: 300px;
      height: 2rem;
      border: none;
      font-family: "Pompiere", cursive, Arial, sans-serif;
      font-size: 150%;
    }

    button {
      font-family: "Oleo Script Swash Caps", cursive, Arial, sans-serif;
      font-size: 150%;
      align-self: flex-end;
      transition-duration: 0.2s;
      position: relative;
      top: 8px;

      &:hover {
        color: rgba(48, 136, 135, 1);
      }
    }

    @media (max-width: 370px) {
      max-width: 100vw;
      transition-duration: 0.2s;
    }
  }

  // Everything except search
  #header_links_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;

    @media (max-width: 800px) {
      width: 100vw;
      margin-right: 0;
      gap: 0;
      justify-content: space-evenly;
      transition-duration: 0.2s;
    }

    // Li containing lnks in the header
    & > li {
      cursor: pointer;
      margin-top: 1rem;
      transition-duration: 0.2s;

      font-family: "Oleo Script Swash Caps", cursive, Arial, sans-serif;
      font-size: 150%;
    }

    & > :nth-child(3) {
      width: 48px;
    }
  }

  .active {
    text-decoration: underline;
  }
}

// Colorful stripe at the bottom of the header.
#header_bottom_border {
  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(109, 20, 56, 0.64) 90%
  );
  height: 10px;
  width: 50vw;
  position: relative;
  right: -50%;

  animation: 1s ease-out 0s 1 slideInFromRight;

  @keyframes slideInFromRight {
    0% {
      filter: opacity(0.3);
    }
    100% {
      filter: opacity(1);
    }
  }
}

// Dropdown (notifications)
#with_dropdown {
  position: relative;
  animation: 1s ease-out 0s 1 opacityChange;

  // Bell
  & > #notifications_bell {
    display: flex;
    justify-content: center;
    outline: none;
    width: 38px;

    & > img {
      border: none;
      width: 80%;
      height: 80%;
    }
    // Number
    p {
      position: absolute;
      top: -0.5rem;
      right: 0;

      border-radius: 50%;
      text-align: center;
      word-break: keep-all;
      min-width: 20px;
      height: min-content;
      background: rgba(238, 39, 106, 1);

      font-size: 70%;

      animation: 1s ease-out 0s 1 opacityChange;
    }

    @keyframes opacityChange {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 0.9;
      }
    }
  }

  #notifications_container {
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 4rem;
    font-size: 1rem;
    width: 20rem;
    max-width: 90vw;
    word-break: break-all;
    background: $notifications_background;
    z-index: 20;
    right: -10px;
    padding: 1.5rem;

    box-shadow: 0 0 0 15px rgba(255, 225, 39, 0.42);

    display: flex;
    align-items: center;

    & > li {
      cursor: initial;
      width: 100%;
    }

    // Little triangle
    &::before {
      content: "";
      border-top: 15px solid $notifications_background;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;

      position: absolute;
      top: -13px;
      right: 13px;
      transform: rotate(180deg);
    }

    #mark_read_buttons_container {
      padding-top: 1rem;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;

      & > button {
        font-family: "Alegreya SC", serif, Arial, sans-serif;
      }
    }

    #navigation_container {
      padding-top: 1rem;
      display: flex;
      gap: 0.5rem;

      img {
        border: none;
      }

      :first-child {
        img {
          transform: rotate(180deg);
        }
      }
      .inactive {
        cursor: auto !important;
        & > img {
          filter: opacity(0.2);
        }
      }
    }

    #close_notifications {
      align-self: flex-end;
      position: relative;
      left: 10px;
      top: 10px;
    }
  }

  // Remove notification button with image
  .remove_notification_button {
    position: relative;
    top: 2px;

    &:hover > img {
      scale: 1.2;
      transition-duration: 0.3s;
    }

    img {
      border: none;
      transition-duration: 0.3s;
    }
  }

  // disabled 'mark all notifications read' button
  .disabled {
    color: white;

    & > button:disabled {
      text-decoration: none;
    }
  }
}

// Error message
.error_message {
  color: red;
  font-family: "Alegreya SC", serif, Arial, sans-serif;
  text-align: center;
  animation-duration: 0.5s;
  animation-name: slidein;
  z-index: 0;

  @keyframes slidein {
    from {
      transform: translateY(-15px);
    }

    to {
      transform: translateY(0);
    }
  }
}

#mark_all_read,
#close_notifications {
  &:hover {
    text-decoration: underline;
  }
}

// Up arrow (bottom right corner)
.up_arrow {
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  cursor: pointer;
}

// Placeholder
::placeholder,
span {
  color: gray;
  opacity: 1; /* Firefox */
}

// h2,
// p,
// button,
// a,
// label,
// input {
//   color: black;
// }

// Error message
.with_error {
  padding: 1rem;

  display: flex;
  flex-direction: column;

  background: #e82d38ff;
  border: 2px solid black;

  position: fixed;
  z-index: 200;

  font-family: "Alegreya SC", serif, Arial, sans-serif;

  animation-duration: 0.5s;
  animation-name: slidedown;
  animation-fill-mode: forwards;

  & > button {
    align-self: center;
  }

  @keyframes slidedown {
    from {
      transform: translateY(-50%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes slideup {
    from {
      transform: translateY(-50%);
    }

    to {
      transform: translateY(-100%);
    }
  }
}
