@import url(//fonts.googleapis.com/css2?family=Indie+Flower&family=Nerko+One&family=Jacques+Francois&family=Fruktur&family=Oleo+Script+Swash+Caps&family=Alegreya+SC&display=swap&family=Pompiere&display=swap:wght@700&display=swap);
@use "sass:math";

$background: #cfe1c6ff;
$root_background: #edd3cdff;
$notifications_background: #48c2d9ff;
$shadow: 5px 5px 5px grey;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background: $background;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1000px;
  max-width: 90vw;
  margin-right: 2rem;
  margin-left: 2rem;
  background: $root_background;
  z-index: 30;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  box-shadow: $shadow;
  box-sizing: initial;
}

a {
  color: black;
  text-decoration: none;
}

button,
input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: max-content;
}

input[type="file"] {
  display: none;
}

button {
  font-family: "Oleo Script Swash Caps", cursive, Arial, sans-serif;
}

input {
  border: 1px solid black;
}

label[for="avatar"] {
  cursor: pointer;
}

img {
  border-radius: 0.2rem;
}

// content = header + main body
// needed to keep footer at the bottom
.content {
  flex-grow: 1;

  @media (max-width: 800px) {
    width: 100vw;
    margin-left: -5vw;
  }
}

p {
  word-break: break-all;
}

// // Error message
// .error_message {
//   color: #e92d3aff;
//   font-family: "Alegreya SC", serif, Arial, sans-serif;
//   text-align: center;
//   animation-duration: 0.5s;
//   animation-name: slidein;
//   z-index: 0;
// }

// Up arrow (bottom right corner)
.up_arrow {
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
    transform: scale(1.2);
  }
}

// Placeholder
::placeholder,
span {
  color: gray;
  opacity: 1; /* Firefox */
}

// Error message
.with_error {
  padding: 1rem;

  display: flex;
  flex-direction: column;

  background: #e82d38ff;
  border: 2px solid black;

  position: fixed;
  z-index: 200;

  font-family: "Alegreya SC", serif, Arial, sans-serif;

  animation-duration: 0.5s;
  animation-name: slidedown;
  animation-fill-mode: forwards;

  & > button {
    align-self: center;
  }
}

// Custom file upload lebels
.custom_file_upload,
button,
a {
  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

// Animating sliding login prompt image to the right
@keyframes slideright {
  from {
    transform: translateX(0) translateY(-50%) rotate(-90deg);
  }

  to {
    transform: translateX(100%) translateY(-50%) rotate(-90deg);
  }
}

@keyframes opacityChange {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.9;
  }
}

// Loading rotating kitty
#loading_kitty {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 500;
  scale: 0.6;
  animation: rotate 2s infinite;
  background: transparent;
}

// ANIMATION
// Rotate kitty on withLoader hoc
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

// Slide down (error message)
@keyframes slidedown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Slide up (error message)
@keyframes slideup {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
