@import url(//fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Alegreya+SC&display=swap&family=Pompiere&display=swap:wght@700&display=swap);

$card-color: #cebf97ff;
$margin: 1.2rem;
$shadow: 5px 5px 5px grey;

// Container
.container {
  @media (max-width: 800px) {
    width: 100vw;
  }
}

// Open user card button
.open_card_button {
  display: none;
  background: $card-color;
  font-size: 1.5rem;
  text-decoration: none !important;
  @media (max-width: 800px) {
    display: block;
    padding: 10px;

    width: 100%;
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

// User on the right
.user {
  z-index: 0;
  position: sticky;
  top: 1rem;
  min-width: 280px;
  margin-top: 0 !important;
  gap: 0.6rem;
  font-family: "Alegreya SC", serif, Arial, sans-serif;
  line-height: 1.8rem;
  margin: $margin;
  margin-right: 0;
  border-radius: 0.2rem;
  background: $card-color;
  flex: 1 2 100px;
  height: max-content;
  padding: $margin;
  flex-direction: column;

  animation-duration: 0.5s;
  animation-name: slidein;

  @keyframes slidein {
    from {
      transform: translateY(-15px);
    }

    to {
      transform: translateY(0);
    }
  }

  @media (max-width: 800px) {
    display: none;
    align-items: center;
    margin: 0.2rem;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  display: flex;

  // User name
  & > :nth-child(2) {
    margin-top: 1rem;
  }

  // Profile image
  & > img {
    align-self: center;
    width: 15rem;
    height: auto;
    object-fit: cover;

    position: relative;
    z-index: 100;

    border-radius: 0.2rem;

    background: #edd3cdff;

    animation: imageAppear 1s forwards;

    @keyframes imageAppear {
      from {
        transform: scale(0.5);
        transform-origin: top;
      }
      to {
        transform: scale(1);
      }
    }
  }

  #info {
    display: flex;
    flex-direction: column;
    width: 100%;

    animation: infoAppear 1s forwards;

    @keyframes infoAppear {
      from {
        transform: translateY(-20%);
      }
      to {
        transform: translateY(0);
      }
    }

    p {
      align-self: center;
    }

    & > form {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      align-items: center;
      padding-top: 1rem;

      :first-child {
        line-height: 90%;
      }
    }
  }

  button {
    line-height: 1.8rem;
    align-self: center;
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  #upload_image_form {
    max-width: 100%;
  }

  // Logout button
  #logout_button {
    font-size: 0.8rem;
    align-self: flex-end;
  }

  #login_signup_buttons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label[for="avatar"] {
    &:focus,
    &:hover {
      outline: none;
      text-decoration: underline;
    }
  }
}

// Change user info form
.form {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > .input {
    display: flex;

    & > input {
      border: none;
      border-bottom: 1px solid black;
      width: 100%;

      &:hover {
        cursor: text;
      }
    }
  }

  .buttons_container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 150%;
  }
}

// Borders, shadow
.user,
.open_card_button {
  border: 2px solid black;
  box-shadow: $shadow;
}

.open_card_button {
  transition-duration: 0.3s;
  &:focus {
    box-shadow: 1px 1px 1px grey;
    transition-duration: 0.3s;
    outline: none;
  }
}

// Change image button
#change_image_button {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

a {
  &:focus {
    outline: 1px dashed black;
  }
}
